<%- include('header', { blog: blog,title :blog.title + " - الصفحة " + pageNumber }); %>

<% posts.forEach((post) =>{ %>
    <h3><a href="<%= blog.url+'/'+post.link %>"><%= post.subject %></a></h3>
    <p><script> document.write(moment('<%= post.created %>').fromNow());</p>
<% }); %>

<center>
<% pages.forEach((page) =>{ %>
<ul class="pagination">
    <li class="page-item <%= page.active?"active":"" %>" ><a class="page-link" href="<%= blog.url %>/page/<%= page.page %>/index.html"><%= page.name %></a></li>
</ul>
<% }); %>
</center>

<%- include('footer'); %>
