<%- include('header', { blog: blog,title: post.subject }); %>

<h1>الموضوع: <%= post.subject %></h1>
<p>تم الإنشاء في <script>document.write(moment('<%= post.created %>').format('MMMM Do YYYY, h:mm:ss a'));</script></p>
<div class="post"><%- post.context %></div>

<%- include('footer'); %>
