<%- include('header', { blog: blog,title: post.subject }); %>

<h1>الموضوع: <%= post.subject %></h1>
<p>تم الإنشاء في <%= post.created %> </p>
<div class="post"><%- post.context %></div>

<%- include('footer'); %>
