<%- include('header', { blog: blog,title: post.subject }); %>

<h1>Subject <%= post.subject %></h1>
<p>create in <%= post.created.toDateString() %> <%= (post.created != post.lastupdate) ? post.lastupdate.toDateString() : '' %></>
<div><%- post.context %></div>

<%- include('footer'); %>
